{% extends 'base.html' %}
{% block content %}

<div class="container my-5">

<div class="row">

<div class="col-md-4 ">
<img class="w-100" src="/static/Bar.png" alt="">
</div>
<div class="col-md-8">
<h2 style="color: #696969;">NFC ОШЕЙНИКИ</h2>
<p style="font-size: 20px; line-height: 1.2; color: #808080">Особенностью наших ошейников является встроенный NFC чип или QR код, на котором хранятся контактные данные владельца, такие как номер телефона или адрес проживание. </p>
</div>

</div>
</div>

<div class="container my-5">
<div class="row">
<div class="col-md-4">
<img class="w-100" src="/static/Doge.png" alt="">
</div>
<div class="col-md-8">
<h2 style="color: #696969;" id = "about" > Привет, неравнодушный человек! </h2>
<p style="font-size: 20px; line-height: 1.2; color: #808080"> Если ты это читаешь, то скорее всего ты захотел обезопасить свою собаку, зарегистрируйся, заполни простую форму, введи адрес и номер телефона и расслабся, ведь если твоя собака потеряется, она непременно найдется. </p>
</div>
</div>
</div>

<div class="container my-5">
<div class="row">
<div class="col-md-4">
<img class="w-100" src="/static/Dur.png" alt="">
</div>
<div class="col-md-8">
<h2 style="color: #696969;"> Гав, похоже, я потерялся((( </h2>
<p style="font-size: 20px; line-height: 1.2; color: #808080"> На моем ошейнике должна быть NFC метка или QR - код с контактами моего хозяина, считай их через приложение Save Doggie, верни меня и получишь щедрое вознаграждение и плюсик в карму. </p>
</div>
</div>
</div>

{% endblock %}