{% extends 'base.html' %}
{% block content %}

<!— MODAL WINOWs —>

<div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="exampleModalLabel">Форма регистрации</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">

<form>
<div class="form-group">
<label for="exampleInputEmail1">Электронная почта</label>
<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
<small id="emailHelp" class="form-text text-muted">Не бойся! Мы никому не расскажем твой email!.</small>
</div>
<div class="form-group">
<label for="exampleInputPassword1">Пароль</label>
<input type="password" class="form-control" id="exampleInputPassword1">
</div>
<div class="form-group form-check">
<input type="checkbox" class="form-check-input" id="exampleCheck1">
<label class="form-check-label" for="exampleCheck1">Запомнить</label>
</div>
<button type="submit" class="btn btn-success">Принять</button>
</form>

</div>
<div class="modal-footer">
<button type="button" class="btn btn-success" data-dismiss="modal">Сохранить изменения</button>
<button type="button" class="btn btn-dark">Закрыть</button>
</div>
</div>
</div>
</div>

<!— Modal end —>

<div class="container my-5">

<div class="row">

<div class="col-md-4 ">
<img class="w-100" src="/static/Bar.png" alt="">
</div>
<div class="col-md-8">
<h2 style="color: #696969;">NFC БРАСЛЕТЫ</h2>
<p style="font-size: 20px; line-height: 1.2; color: #808080">Разаработанные в сотрудничестве с учеными из ИЦ "Сколково", данные браслеты хранят данные о человеке, чтобы в самый ответственный момент не терять ни секунды на оказание первой медицинской помощи.</p>
</div>


</div>
</div>

<div class="container my-5">
<div class="row">
<div class="col-md-4">
<img class="w-100" src="/static/Dur.png" alt="">
</div>
<div class="col-md-8">
<h2 style="color: #696969;"> Привет, обеспокоенный! </h2>
<p style="font-size: 20px; line-height: 1.2; color: #808080">Что, наконец-то решил обратить внимание на свое здоровье? Отлично, тогда я помогу. Я дам тебе браслет, с помощью телефона неравнодушные прохожие смогут считать с этого браслета информацию о твоем здоровье, аллергиях и хронических заболеваниях. </p>
</div>
</div>
</div>
{% endblock %}