{% extends 'base.html' %}

{% block title %}Добавить участника{% endblock %}

{% block content %}
    <a href="/">Назад</a>
    <h1>Добавить</h1>

    {% for message in messages %}
        <div class="alert alert-danger" role="alert">
  Заполните все поля!
</div>
    {% endfor %}

    <form action="/add" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label>Кличка: </label> <input class="form-control" type="text" name="name"/>
        </div>
        <!--<div class="form-group">
            <label>Фото </label> <input class="form-control" type="file" name="photo"/>
        </div>--!>

        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="Добавить">
        </div>
    </form>
{% endblock %}

+9