{% extends 'base.html' %}

{% block title %}Добавить курс{% endblock %}

{% block content %}
<a href="/courses">Назад</a>
<h1>Добавить</h1>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.js" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

{% for message in messages %}
        <div class="alert alert-danger" role="alert">
  Заполните все поля!
</div>
    {% endfor %}

<form action="/add_course" method="post">
    {% csrf_token %}
    <strong>Название: </strong> <input type="text" name="name"/><br>
    <strong>Преподаватель: </strong> <input type="text" name="teacher"/><br>
    <input type="submit" value="Добавить">
</form>
{% endblock %}