{% extends 'base.html' %}

{% block title %}Информация об участнике{%  endblock %}

{% block content %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.js" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<a href="/">Назад</a>
<a href="/edit?id={{ student.id }}">Изменить</a>
<a href="/delete?id={{ student.id }}" onclick="return confirm('Точно удалить?')">Удалить</a>
<h1>{{ student.name }} {{ student.surname }}</h1>
<ul>
    <li><strong>Email:</strong> {{ student.email }}</li>
    <li><strong>Комната:</strong> {{ student.room }}</li>
    <li><strong>Направление:</strong> <a href="/course?id={{ student.course.id }}">{{ student.course.name }}</a></li>
    <li><strong>Преподаватель:</strong> {{ student.course.teacher }}</li>
</ul>
<p>
   <strong>Комментарий: {{student.description }}</strong>
</p>
{% endblock %}