{% extends 'base.html' %}

{%  block title %}Добавить курс{% endblock %}

{% block content %}
<a href="/courses?id={{ courses.id }}">Назад</a>

<h1>Изменить: {{ courses.name }}</h1>

<form action="/edit_course?id={{ courses.id }}" method="post">
    {% csrf_token %}
    <strong>Название: </strong> <input type="text" name="name" value="{{ courses.name }}"/><br>
    <strong>Преподаватель: </strong> <input type="text" name="teacher" value="{{ courses.teacher }}"/><br>
    <input type="submit" value="Сохранить">
</form>
{% endblock %}